body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 100px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*####################################################################*/
@font-face {
    font-family: "black-chancery";
    src: local("BlackChancery"), url("../public/assets/fonts/BlackChancery.woff") format("woff");
}

body {
    font-family: "black-chancery", fantasy;
    text-shadow: #ffffff 1px 0 10px;
    /*font-size: 100%;*/
}