.btn-group, .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

button {
  background: none;
  border: none;
}

img , .card-img-top{
  width: 150px;
  height: 266px;
}

body {
  background-image: url("../../public/assets/bg-4k-2-3.png");
}

#card-group {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
}