.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
  background: none;
  border: none;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: none;
  border: none;
  align-items: center;

}

button {
  background: none;
  border: none;
}

img{
  width: 150px;
  height: 266px;
}

.card-img{
  width: 282px;
  height: 500px;
}

.card-img-top{
  width: 100px;
  height: 177px;
}
//.card-text{
//  font: 12px italic;
//}

body {
  background-image: url("../../public/assets/bg-4k-2-3.png");
}

#card-group {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;

}

#title{
  color: #151515;
}