.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
  background: none;
  border: none;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: none;
  border: none;
  align-items: center;
  justify-content: space-around;
  align-self: baseline;

}

button {
  background: none;
  border: none;
}

img {
  width: 150px;
  height: 266px;
}

.card-img {
  width: 282px;
  height: 500px;
}

.card-img-top {
  width: 100px;
  height: 177px;
}

.card-text {
  width: 282px;
  max-height: 400px;
}

body {
  background-image: url("../../public/assets/bg-4k-2-3.png");

  margin: 50px;
  display: flex;
  align-items: center;
  //justify-content: center;
  //flex-direction: column;
  font-family: "black-chancery", fantasy;
  color: #000000;
  font-size: 150%;

}

#card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#title {
  color: #151515;
}

@font-face {
  font-family: "black-chancery";
  src: local("BlackChancery"), url("../../public/assets/fonts/BlackChancery.woff") format("woff");
}

.draw-result {
  max-width: 100vw;
  width: 100%;
  align-self: baseline;
}

