@font-face {
  font-family: "black-chancery";
  src: local("BlackChancery"), url("../../public/assets/fonts/BlackChancery.woff") format("woff");
}

body {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "black-chancery", fantasy;
  color: #000000;
  font-size: 150% ;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: none;
  border: none;
  align-items: center;
//width: 50px;
}

.card-img{
  width: 282px;
  height: 500px;
}