@font-face {
  font-family: "black-chancery";
  src: local("BlackChancery"), url("../../public/assets/fonts/BlackChancery.woff") format("woff");
}

.home {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "black-chancery", fantasy;
  color: #151515;
  font-size: 150% ;
}

body {
  background-image: url("../../public/assets/bg-4k-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  //width: 100%;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;

}

.formCheckLabel{
  cursor: pointer;
}


//.btn-primary {
//  background-color: #f1c17c ;
//  border: none;
//}
//
//#btn-primary:disabled, #btn-primary.disabled{
//  background-color: #f1c17c ;
//  border: none;
//  opacity: 1;
//}

.navigationBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
}